@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

img {
    display: block;
    width: 100%;
    height: auto;

}

.carousel-inner {
    max-height: 39rem;


}



footer {
    background-color: #334155;
    /* margin: 50px 0 0 0; */
}

footer .footer-top {
    padding: 50px 0px;
    display: grid;
    /* grid-template-columns: 10% 20% 40% 20% 10%; */
    /* grid-template-columns: repeat(5, 20%); */
    /*grid-template-columns: 1fr 2fr 1fr 1fr 1fr;*/
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: 2fr 1fr; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 2fr; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

footer .footer-top a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;


}

footer .footer-top h5 {
    color: #919496;
    text-transform: uppercase;
    margin-bottom: 20px;
}

footer .footer-top nav:last-child ul li {
    /* display: inline-block; */
}

footer .footer-top nav:last-child ul li a {
    /* background-color: #222326; */
    /* padding: 15px; */
    /* font-size: 180%; */
    /* border-radius: 50%; */
    /* text-align: right; */
}

footer .footer-top nav:last-child ul {
    /* float: right; */
    width: max-content;
    /* margin-left: auto; */
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
}

footer.footer-bottom a {
    color: #919469;
    text-decoration: none;


}

footer .footer-bottom nav ul li {
    display: inline-block;


}

footer .footer-bottom>div p {
    margin-bottom: 20px;
}