.flex {
    display: flex;
    justify-content: space-between;
    margin: 0 250px;
}

.quote {


    text-align: center;
    line-height: 1.6;
    font-size: 1.5rem;
    font-family: 'lato';
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;

}