.flex {
    display: flex;
    justify-content: space-between;
    margin: 0 250px;
    padding: 50px 0;
}

.quote {


    text-align: center;
    line-height: 1.6;
    font-size: 1.5rem;
    font-family: 'lato';
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px;
    border: 5px solid cadetblue;
    border-radius: 60px;

}